backend/node_modules/
backend/.env
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/data/
backend/*.pem
backend/*.key

.env
node_modules/
*.pem
*.key
secrets.*
credentials.*

# SvelteKit
/build
/.svelte-kit
.output
.vercel
.netlify
.vscode
Thumbs.db
.DS_Store
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
